@import "reset.css";
@import "index.css";

.pro_details{
  float: right;
  width: 100%;
  margin-top: 20px;
}
.pro_nav{
  position: relative;
  width: 100%;
  ul{
    li{
      float: left;
      padding: 5px 10px;
      background-color: #f8f8f8;
      color: #666666;
      margin: 0 10px;
      border: 1px solid #666666;
      border-radius: 8px 8px 0 0;
      cursor: pointer;
    }
    li.on{
      background-color: #000000;
      color: #ffffff;
    }
  }
  .line{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.fixed{
  padding-top: 2px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
}
.dotted{
  border-top: 1px dotted #000000;
}
.basic_info{
  margin-top: 10px;
}
.basic_info{
  .info{
    margin-top: 10px;
    margin-bottom: 20px;
    .title{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
      span{
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 10px solid #000000;
        border-bottom: 7px solid transparent;
        padding-right: 5px;
      }
    }
    p{
      line-height: 18px;
      margin-bottom: 8px;
    }
  }
}

.comment{
  border-bottom: 1px dashed #a9a9a9;
  padding: 15px 0;
  .comment_user{
    width: 150px;
    border-right: 1px dashed #a9a9a9;
    img{
      width: 50px;
      border-radius: 50%;
      border: 1px solid #a9a9a9;
    }
    h4{
      font-weight: bold;
      padding: 5px 0;
    }
    h3{
      width: 100px;
      height: 17px;
      background: url("../images/card.png") no-repeat;
      background-size: contain;
      line-height: 17px;
      padding-left: 37px;
      color: #a9a9a9;
    }
    p{
      color: #a9a9a9;
    }
  }
  .comment_details{
    width: 625px;
    .date{
      padding-left: 100px;
      color: #a9a9a9;
    }
    .comment_msg{
      margin-top: 10px;
    }
  }
}
.star{
  img{
    float: left;
    padding: 0 1px;
    width: 15px;
    height: 15px;
  }
}
.question{
  color: #dc002f;
}
.collocation{
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px dashed #a9a9a9;
  .item{
    width: 180px;
    img{
      width: 100px;
    }
  }
}
.pro_item{
  width: 120px;
  float: left;
  padding: 10px 15px;
  position: relative;
  img{
    width: 100px;
  }
  .pro_title{
    font-size: 12px;
  }
  s{
    color: #a9a9a9;
  }
}
.pro_brand{
  font-weight: bold;
}
.pro_title{
  font-size: 16px;
  padding: 1px 0;
  margin: 2px 0 2px;
}
.pro_en{
  color: #a9a9a9;
}
.pro_price{
  font-weight: bold;
  color: #dc002f;
  bottom: 50px;
}
#big {
  display: block;
  width: 350px;
  height: 350px;
  margin-top: 10px;
  position: relative;
}

#small-box {
  position: relative;
  z-index: 1;
}

#float-box {
  display: none;
  width: 160px;
  height: 120px;
  position: absolute;
  background: #ffffcc;
  border: 1px solid #ccc;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#mark {
  position: absolute;
  display: block;
  width: 350px;
  height: 350px;
  background-color: #fff;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 10;
}

#big-box {
  display: none;
  position: absolute;
  top: 0;
  left: 460px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border: 1px solid #ccc;
  z-index: 1;
  img {
    position: absolute;
    z-index: 5
  }
}
.list{
  margin-top: 10px;
  >div{
    padding: 0 5px;
  }
  img{
    cursor: pointer;
    width: 50px;
    border: 1px solid #cccccc;
  }
}
.item_msg{
  width: 680px;
  margin-top: 20px;
  .price{
    background-color: #f5f5f5;
    padding: 15px;
    margin-top: 20px;
    >p>span{
      font-size: 18px;
      color: #dc002f;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}
.select_specification{
  margin-top: 20px;
  .specification {
    width: 400px;
    margin-left: 20px;
  }
.spec{
  display: inline-block;
  border: 1px solid #a9a9a9;
  padding: 2px 12px 2px 3px;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  cursor: pointer;
}
.on {
  border: 1px solid #000000;
  background: url("../images/hook.png") no-repeat right bottom;
  background-size: 14px;
}
}
.amount{
  select{
    margin-left: 20px;
  }
}
.add_cart{
  margin-top: 10px;
  .pro_cart ,.pro_collection{
    width: 85px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .pro_cart{
    background-color: #dc002f;
    color: #ffffff;
  }
  .pro_collection{
    background-color: #ffffff;
    color: #dc002f;
    border: 1px solid #dc002f;
    margin-left: 20px;
  }
  .cart{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    background: url("../images/cart_white.png") no-repeat center;
    background-size: cover;
  }
  .collection{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    background: url("../images/collection.png") no-repeat center;
    background-size: cover;
  }
  .on{
    background: url("../images/collection_on.png") no-repeat center;
    background-size: cover;
  }
}
